/* --------------font links   */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* ========comon css============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6,p,a,ul,ol{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    max-width: 100%;
}


/* ------------nav st---------- */

.main_nav{
    padding-top: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_logo{
    width: 122px;
}
  

.nav_items{
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 400;
    
    
}

.nav_items li a{
    color: #00413D !important;
      font-family: "Jost", sans-serif;
     transition: all linear .3s;


}

.nav_items li a:hover{
    color: #E5745D !important;

}

.nav_cv {
    width: 174px;
    background: transparent;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: all linear.3s;
    padding: 15px 30px;
    background: #E5745D;
    border: 2px solid #fff;
    transition: all linear.3s;
}

.nav_cv:hover{
    border: 2px solid #000000;
    background: #fff;

}

.main_cv{
    padding: 8px;
    background: #E5745D;
     color: rgb(255, 255, 255) !important;
     transition: all linear .3s;
       
}
.nav_cv a{
    width: 180px !important;
    color: #fff !important;
     transition: all linear .3s;


}

.nav_cv a:hover{
   
    color: black !important;

}


.main_cv:hover{
    background: #fff;
    color: black !important;

box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


/* ------------nav end-------- */


    /* <!-- ============= banner st=============== --> */


#banner{
    margin-top: 8px;
}

.banner_img1{
    position: relative;
}

.image_style_elements {
    position: absolute;
    top: 200px;
    left: -351px;
    opacity: 1;
}

.banner_img2{
 width: 845px;
    position: absolute;
    right: 0;
    top: 120px;
}









    /* <!-- ============= banner st=============== --> */
